# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt
coverage.json
coverage.xml
coverage/index.html
report.xml

# Output of go build
burnout-barometer*
config.json
